.steps {
   padding: 0 3rem 3rem; 
   counter-reset: step;

   &__item {
       margin: 2rem 0;
       position: relative;
       padding-left: 5rem;

       &::before {
           counter-increment: step;
           content: counter(step);
           left: 0;
           top: - 2rem;
           font-size: 5rem;
           color: #ddd;
           position: absolute;
       }
   }
}